# dependencies
node_modules/
/.pnp
.pnp.*

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env*.local

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo

# tooling unrelated to this project
.sf/
.sfdx/
